Topic Colours - Palette?

/* RGB */
$color1: rgba(217, 57, 25, 1);
$color2: rgba(90, 138, 186, 1);
$color3: rgba(240, 48, 144, 1);
$color4: rgba(112, 119, 119, 1);
$color5: rgba(255, 195, 51, 1);


Topic Colours - Bolder

/* RGB */
$color1: rgba(217, 57, 25, 1);
$color2: rgba(90, 138, 186, 1);
$color3: rgba(240, 48, 144, 1);
$color4: rgba(112, 119, 119, 1);
$color5: rgba(255, 195, 51, 1);



Topic Colours - Faded

/* RGB */
$color1: rgba(238, 99, 82, 1);
$color2: rgba(242, 221, 110, 1);
$color3: rgba(89, 205, 144, 1);
$color4: rgba(63, 167, 214, 1);
$color5: rgba(247, 157, 132, 1);